<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <style>
      .hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action="/auth/local" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
        </div>
    </form>
    <button><a id='register'>Register via Email</a></button>
    <button><a href='/auth/google'>Sign In with Google</a></button>
    <button><a href='/auth/goodreads'>Sign In with Good Reads</a></button>
    </div>
  </body>
  <script src='./public/modal.js'></script>
</html>
