<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>
    <div class="container">Login page</div>
    <!-- <button><a href='/auth/facebook'>Login with facebook</a></button> -->
    <button><a href='/auth/google'>Sign In with Google</a></button>
    <button><a href='/auth/goodreads'>Sign In with Good Reads</a></button>
  </body>
  <script src='./public/test.js'></script>
</html>
